body{
font-family:Arial;
background:linear-gradient(#ffc0cb,#ffd6e7);
text-align:center;
margin:0;
}

.month{
background:rgba(255,255,255,0.25);
border-radius:20px;
padding:20px;
margin:40px auto;
width:85%;
}

.month-title{
font-size:24px;
color:white;
margin-bottom:20px;
}

.days{
display:grid;
grid-template-columns:repeat(7,1fr);
gap:12px;
justify-items:center;
}

.day{
width:60px;
height:60px;
background:rgba(255,255,255,0.4);
border-radius:15px;
cursor:pointer;
display:flex;
align-items:center;
justify-content:center;
}

.day:hover{
transform:scale(1.1);
background:#ffb6c1;
}

.day img{
width:60px;
height:60px;
object-fit:cover;
border-radius:15px;
}